<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Личный кабинет</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'calendar_/login.css' %}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>

  <script type="text/javascript" src="{% static 'calendar_/scripts/jquery-1.11.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'calendar_/jqwidgets/jqx-all.js' %}"></script>
  <link rel="stylesheet" href="{% static 'calendar_/jqwidgets/styles/jqx.base.css' %}">
</head>
<body style="overflow-x:hidden;">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teacher/">Учителя</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/client/">Ученики</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manage/classes/">Классы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manage/groups/">Группы</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/manage/courses/">Наши курсы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendar">Расписание</a>
      </li>
      <div style="position: absolute; right: 10px;">
        <a type="button" class="btn btn-warning" href="/logout/">Выход</a>
      </div>
    </ul>
  </div>
</nav>

<h2 style="margin: 40px;">Изменить курс</h2>
<form method="POST" action="save_course/" style="margin-left:50px;">
  {% csrf_token %}
  {{ form }}
  <div class="row">
    <div class="col-lg-1">
      <label>Название курса</label>
    </div>
    <div class="col-lg-2">
      <input type="text" name="name"  class="form-control" value="{{course.name}}" /></br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
      <label>Стоимость</label>
    </div>
    <div class="col-lg-2">
      <input type="number" name="coast" class="form-control" value="{{course.coast}}" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
      <label>Показывать на главной</label>
    </div>
    <div class="col-lg-2" style="margin-top: 12px;">
      {% if course.public == True %}
      <input type="checkbox" name="public" checked value="{{course.public}}" />
      {% else %}
      <input type="checkbox" name="public"  value="{{course.public}}" />
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
      <label>О курсе</label>
    </div>
    <div class="col-lg-2">
      {% if course.about == None %}
      <textarea name="about" class="form-control" style="min-height:200px;;font-size:16px;"></textarea>
      {% else %}
      <textarea name="about" class="form-control" style="min-height:200px;;font-size:16px;">{{course.about}}</textarea>
      {% endif %}
    </div>
  </div>

  <div class="row" style="margin-left: 0px; margin-top:10px;">
    <div>
      <input value="Сохранить" type="submit" class="btn btn-primary"/>
    </div>
    <div class="col-lg-3">
      <a href="/manage/courses" class="btn btn-primary">Назад</a>
    </div>
  </div>

</form>

</body>
</html>
